[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "disk.frame"]
	path = disk.frame
	url = https://github.com/diskframe/disk.frame
